/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 12:15:27 AM
    Author     : Joey
*/
#body{
    padding-top: 20px;
}

.navbar .navbar-header .navbar-brand{
    width: 45px;
    padding: 10px;
}
 
